<p>{{title}}</p>
{{#each model as |character|}}
  {{#link-to "characters.character.detail" character.id tagName="button" class="md-button md-primary"}}
    <p>{{character.name}}</p>
  {{/link-to}}
{{/each}}