<p>{{title}}</p>
{{#each model as |location|}}
  {{#link-to "locations.location.detail" location.id tagName="button" class="md-button md-primary"}}
    <p>{{location.name}}</p>
  {{/link-to}}
{{/each}}