{{paper-divider inset=true}}
<p>{{title}}</p>
{{#each model as |vehicle|}}
  {{#link-to "vehicles.vehicle.detail" vehicle.id tagName="button" class="md-button md-primary"}}
    <p>{{vehicle.name}}</p>
  {{/link-to}}
{{/each}}
