$primary: "deep-purple";
$accent: "blue-grey";
$warn: "light-green";

@import 'ember-paper';

$light-purple: #d1c4e9;
$color-dark: #2b2142;
$small-padding: 5px;
$standard-padding: 20px;
$poster-small-width: 60px;
$poster-middle-width: 210px;

/** App general rules **/
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.max-width {
  width: 100%;
}
.inline {
  display: inline-block;
}
.content-box {
  width: 100%;
  padding: $standard-padding;
}
.detail-container {
  margin-left: 2px;
}
.sidenav-button {
  width: 100%;
  border-style: none;
  padding: 0;
  margin: 0;
}
.markSeenBtn {
  position: absolute;
  z-index: 10;
  width: 140px;
  right: $standard-padding;
}
.film-button {
  display: block;

  .film-link {
    vertical-align: middle;

    .film-button-info {
      display: inline-block;
      vertical-align: middle;
      width: 300px;

      .film-button-desc {
        font-weight: normal;
        text-transform: none
      }
    }

    .markSeenBtn {
      position: initial;
      vertical-align: middle;
      margin: 0;
      display: inline-block;
      &.unseen {
        visibility: hidden;
      }
    }
  }
}
.poster-small {
  width: $poster-small-width;
  vertical-align: middle;
}
.poster-middle {
  width: $poster-middle-width;
  vertical-align: middle;
  margin-right: $standard-padding;
}

/** Ember-paper overwrite **/
.md-button {
  line-height: inherit;
}

// Change a bit side bar behaviour, because we want to have the relative position with the scroll
md-sidenav.md-locked-open,
md-sidenav.md-locked-open.md-closed,
md-sidenav.md-locked-open.md-closed.md-sidenav-left,
md-sidenav.md-locked-open.md-closed, {
  position: relative;
  height: calc(100vh - 64px);

  // In the side bar, change the graphic code for toolbar
  md-toolbar {
    background-color: $light-purple;
    color: $color-dark;
  }

  md-content {
    padding: 0;
    margin: 0;
  }
}

// This is for headers on detail pages
md-toolbar.md-default-theme:not(.md-menu-toolbar),
md-toolbar:not(.md-menu-toolbar) {
  &.content-box {
    background-color: $light-purple;
    color: $color-dark;
  }
}

md-card {
  min-width: 400px;
}
md-card-actions.layout-row {
  justify-content: initial;
  display: block;

  .md-button {
    overflow: initial;
    min-width: initial;
  }
}

md-select {
  min-width: 200px;
}
