{{#paper-select class="inline" disabled=disableSelect label="Sort by" options=selectableOptions selected=selectedOption onchange=(action "setSorting") as |option|}}
  {{option.name}}
{{/paper-select}}
{{#if unseenFilm}}
  {{#link-to "film.detail" unseenFilm.id class="inline md-button md-raised"}}
    <p>Pick up a movie to watch</p>
  {{/link-to}}
{{/if}}
<div class="align-center">
  {{#each sortedFilms as |film|}}
    {{link-to/film-button film=film}}
  {{/each}}
</div>

