<div>
  {{#paper-select disabled=disableSelect label="Sort by" options=selectableOptions selected=selectedOption onchange=(action "setSorting") as |option|}}
    {{option.name}}
  {{/paper-select}}
</div>
<div class="align-center">
  {{#each sortedFilms as |film|}}
    {{#link-to "film.detail" film.id class="sidenav-button md-button"}}
      <p>{{film.title}}</p>
    {{/link-to}}
  {{/each}}
</div>

